{
    "env": {
        "development": {
            "presets": [
                ["es2015", {"loose": true, "modules": false}], "stage-0"
            ],
            "plugins": [
                ["module-resolver", {
                    "root": ["./"],
                    "alias": {
                        "schedule-app": "./src"
                    }
                }],
                "transform-decorators-legacy",
                "syntax-jsx",
                ["inferno", {"imports": true}]
          ]
        }
    },
    "plugins": [
        "syntax-jsx",
        ["inferno", {"imports": true}],
        "transform-decorators-legacy"
    ]
}
